.form-inline {
	margin-right: 10px;
}

.shopping-cart-icon {
	line-height: 30px;
	font-size: 15px;

	color: darkgray;
}

.shopping-cart-icon .spacing {
	margin-right: 10px
}

.shopping-cart-icon span {
	color: blue;
	line-height: 30px;
	font-size: 15px;
}