.form-inline {
	margin-right: 10px;
}

.wishlist-cart-icons {
	line-height: 30px;
	font-size: 15px;
	color: darkgray;
}

.wishlist-cart-icons .spacing {
	margin-right: 10px;
}

.wishlist-cart-icons a {
	color: #46A8B3;
	line-height: 30px;
	font-size: 15px;
}