.shopping-cart {
    margin: 0 auto;
    text-align: center;
}


.shopping-cart table {
    margin-top: 50px;
    text-align: center;
}

.shopping-cart table tfoot {
    font-weight: bold;
    text-align: right;
}

.shopping-cart table td {
    min-width: 100px;
}


.shopping-cart .product-img {
    width: 100px;
}


.shopping-cart .alert {
    margin-top: 100px;
}

.discount {
    background: #f0f0ef;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 20px auto;
    padding: 20px 20px;
    width: 50%;
}

.discount input {
    width: 80%;
    margin: 0 auto;
}